//style for titles
@mixin style {
   color: $textColor;
   width: $width;
   border-radius: $radius;
   letter-spacing: $space;
}
//style for navigation bar
@mixin nav{
    letter-spacing: $space;
    background-color: $backColor;
}
