body {
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color when hover */
  li a:hover {
    background-color: orange;
  }
  
  ul a {
    text-decoration: none;
    color: black;
  }
 
  /*This is for the subtitles only (benefits and goals)*/
  .title {
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    border-width: 5px;
    margin: 20px;
    border-style: dotted;
  }  
  .content {
    /* making all the content in color white*/
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
body{
  background-color: black;
}
@media only screen and (min-width: 800px){
  /*grid 2 col*/
  .grid-two-columns{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .grid-three-columns{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    padding: 20px;
  }
}


